<div class="card" style="border-style: none;min-width: 180px;margin-bottom:38px ;">
  <img class="card-img-top" src="assets/avengers.jpg" alt="Italian Trulli">
  <div class="card-body">
    <h5 class="card-title"><% parameters.film.title %></h5>
    <p class="card-text" style="color:#0eb493">Eyes set to kill - Darlling <span><img class="card-img-top"
          src="assets/music.png" alt="Italian Trulli" style="width:30px; height:30px ;"></span></p>
  </div>
  <hr>
  <div class="film-description">
  </div>
</div>
