<!-- Main content -->
	<h1 style="color: #FFFFFF; margin-top: 3%; margin-left: 5%;"><font face="Tahoma Regular">Search Actor by Photo</font></h1>
	
	<div class="custom-file">
		<input  class="custom-file-input" id="inputGroupFile02">
		<img class="rounded-lg" type="file" src="assets/camera.png" alt="Upload photo" style="margin-top: 2%; margin-left: 5%; weigth: 400px; height:400px">
	</div>
	
	<div style="margin-top: -8%; margin-left: 35%;">
	<h1 class="text-left" style="color: #0ead8d; letter-spacing: 2px"><font face="Tahoma Regular">Please, upload a photo</font></h1>
	<h3 class="text-left" style="color: #0ead8d; margin-top: 2%;"><font face="Myriad Pro Regular"><i>Your photo should be no more then 1KB</i></font></h3> 
	<h2 class="text-left text-wrap" style="color: #FFFFFF; margin-top: 8%; width:600px;"><font face="Myriad Pro Regular">Try our service!
	Based on the uploaded photo, we will display films in which the actor is represented.</font></h2> 
	</div>
