<!-- Main content -->
	<h1 style="color: #FFFFFF; margin-top: 3%; margin-left: 5%;"><font face="Tahoma Regular">Search Film by Phrase</font></h1>
	
	<form class="input-group" style = "padding-right: 300px;">
		<div class="input-group" style="margin-top: 3%; margin-left: 6%; height:50px;">
            <label>
                <input type="search" class="form-control rounded-0" placeholder="Type the phrase.." style="width: 700px; height:50px; font-size: 18pt">
            </label>
            <div class="input-group-prepend">
                <button class="input-group-text" style="width: 50px; height:50px"> <img src="assets/lupa.png" alt="Italian Trulli"></button>
            </div>
        </div>
	</form>
	
	<h1 class="text-left" style="color: #0ead8d; margin-top: 3%; margin-left: 5%;"><font face="Tahoma Regular">The popular phrases</font></h1>
	
	<div class="input-group-append" style="margin-top: 4%; margin-left: 90px;">
		<img class="rounded float-left" src="assets/quote.png" alt="Facebook" >
		<h3 class="text" style="color: #FFFFFF; margin-top: 0.5%; margin-left: 90px;"><font face="Myriad Pro Regular">«I'll be back». &copy; Terminator</font></h3> 
	</div>
	
	<div class="input-group-append" style="margin-top: 2%; margin-left: 90px;">
		<img class="rounded float-left" src="assets/quote.png" alt="Facebook" >
		<h3 class="text" style="color: #FFFFFF; margin-top: 0.5%; margin-left: 90px;"><font face="Myriad Pro Regular">«Keep your friends close, but your enemies closer». &copy; Godfather </font></h3> 
	</div>
	
	<div class="input-group-append" style="margin-top: 2%; margin-left: 90px;">
		<img class="rounded float-left" src="assets/quote.png" alt="Facebook" >
		<h3 class="text" style="color: #FFFFFF; margin-top: 0.5%; margin-left: 90px;"><font face="Myriad Pro Regular">«Houston, we have a problem». &copy; Apollo 13</font></h3> 
	</div>
	
	
	<!--<img class="rounded float-left" src="quote.png" alt="Facebook" style="margin-top: 7%; margin-left: -65px;">
	<h3 class="text-left" style="color: #FFFFFF;"><font face="Myriad Pro Italic">Popular pharse</font></h3> 
	<img class="rounded float-left" src="quote.png" alt="Facebook" style="margin-top: 12%; margin-left: -65px;">
	<h3 class="text-left" style="color: #FFFFFF;"><font face="Myriad Pro Italic">Popular pharse</font></h3> 
	
	<h5 class="text-left" style="color: #0ead8d; margin-top: 3%; margin-left: 5%;"><font face="Myriad Pro Italic">Your photo should be no more then 1KB</font></h5> 
	<h6 class="text-left text-wrap" style="color: #FFFFFF; margin-left: 5%; width: 500px;"><font face="Myriad Pro Regular">Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus lacus fringilla nulla sollicitudin tristique.</font></h6> -->
