<div class="container">
    <form>
<!--        <div class="row" style="height: 76px; width: 100px; margin-top: 38px;">-->
            <p> <br>
        <h2>Search film by soundtrack</h2>
            </p> <br>

                <div class="row" style="height: 76px;">
                    <input class="form-control col-8" type="search" placeholder="Please, enter the name of the song or artist" aria-label="Search">
                </div>

            </div>
<!--<div class="col-3">&ndash;&gt;-->
<!--            </div>-->

        </div>
        <div class="row" style="margin-top: 38px;">
            <div class="container" style="display: flex;align-items: center;justify-content: center;">
                <button class="btn btn-success" href="#" type="submit" style="background-color:#0eb493;" >GO TO SEARCH</button>
            </div>
        </div>
    </form>

<h1 class="text-left" style="color: #0ead8d; margin-top: 3%; margin-left: 5%;"><font face="Tahoma Regular">The popular soundtracks</font></h1>

<div class="input-group-append" style="margin-top: 4%; margin-left: 90px;">
    <img class="rounded float-left" src="klipartz.com%20(3).png" alt="Facebook" style="height:30px;width:30px;margin-right: 10px;>
    <h3 class="text" style="color: #FFFFFF; margin-top: 0.5%; margin-left: 90px;"><font face="Myriad Pro Regular">
    Call Me by Your Name: Original Motion Picture Soundtrack </font></h3>
</div>

<div class="input-group-append" style="margin-top: 2%; margin-left: 90px;">
    <img class="rounded float-left" src="klipartz.com%20(3).png" alt="Facebook" style="height:30px;width:30px;margin-right: 10px;>
    <h3 class="text" style="color: #FFFFFF; margin-top: 0.5%; margin-left: 90px;"><font face="Myriad Pro Regular">
    Swiss Army Man (Original Motion Picture Soundtrack) </font></h3>
</div>

<div class="input-group-append" style="margin-top: 2%; margin-left: 90px;">
    <img class="rounded float-left" src="klipartz.com%20(3).png" alt="Facebook" style="height:30px;width:30px;margin-right: 10px; >
    <h3 class="text" style="color: #FFFFFF; margin-top: 0.5%; margin-left: 90px;"><font face="Myriad Pro Regular">
    Quentin Tarantino’s Django Unchained Original Motion Picture Soundtrack. </font></h3>
</div>

</div>
