<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% include "partial/head.html" %}
<body>

<!-- Navigation bar -->
{% include "partial/header.html" %}

<br>
<p>
<h3>  About us </h3>
</p>


        <table>

            <td>
                <div class="photo"><a href="#"><img  src="about-us/Юлия.jpg" /></a>
                <p> Юлия Большакова </p></div>
            </td>
            <td>
                <div class="photo"><a href="#"><img  src="about-us/Александр.jpg" /></a>
                <p> Александр Боташев </p></div>
            </td>
            <td>
                <div class="photo" ><a href="#"><img  src="about-us/Александра.jpg" /></a>
                <p> Александра Перевощикова </p></div>
            </td> <br>
        </table>

        <table>
            <td>
                <div class="photo"><a href="#"><img src="about-us/Анастасия.jpg" /></a>
                    <p> Анастасия Мамрукова </p></div>
            </td>
            <td>
                <div class="photo"><a href="#"><img  src="about-us/Екатерина.jpg" /></a>
                    <p> Екатерина Колоколова </p></div>
            </td>
            <td>
                <div class="photo" ><a href="#"><img src="about-us/Яна.jpg" /></a>
                    <p> Яна Мальцева </p></div>
            </td> <br>
        </table>

<table>
            <td>
                <div class="photo"><a href="#"><img  src="about-us/Ирина.jpg" /></a>
                    <p> Ирина Канавцева </p></div>
            </td>
            <td>
                <div class="photo"><a href="#"><img  src="about-us/Василий.jpg" /></a>
                    <p> Василий Щитов </p></div>
            </td>
            <td>
                <div class="photo" ><a href="#"><img src="about-us/Владимир.jpg" /></a>
                    <p> Владимир Килязов </p> </div>
            </td> <br>

        </table>
<table>
    <td>
        <div class="photo"><a href="#"><img src="about-us/Валерия.jpg" /></a>
            <p> Валерия Ларина </p></div>
    </td>
    <td>
        <div class="photo"><a href="#"><img src="about-us/Светлана.jpg" /></a>
            <p> Светлана Смирнова </p></div>
    </td>
    <td>
        <div class="photo" ><a href="#"><img src="about-us/Вероника.jpg" /></a>
            <p> Вероника Спицина </p></div>
    </td> <br>
</table>


    <!-- Footer -->
    {% include "partial/footer.html" %}





</body>
</html>
