name: Default Pipeline 

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main 
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-dev.txt') }}
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # scikit-image requires that
        pip install --upgrade --upgrade-strategy eager wheel numpy -e .
        pip install --upgrade --upgrade-strategy eager -r backend/requirements.txt -e .
        pip install --upgrade --upgrade-strategy eager -r backend/requirements-dev.txt -e .
    - name: Test Backend
      run: cd backend && ./test.sh
    - name: Update Images
      if: ${{ github.event_name == 'push' }}
      run: echo "TODO push docker images"
