name: Linux Post Commit Checks

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main 
jobs:
   check:
     runs-on: ubuntu-latest
     steps:
     - uses: actions/checkout@v2
     - name: Test Backend
       run: cd backend && make test
     - name: Update Images
       if: ${{ github.event_name == 'push' }}
       run: echo "TODO push docker images"
